{
  "extends": "airbnb",
  "plugins": ["cypress", "jest"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/function-component-definition": "off",
    "react/jsx-filename-extension": [0],
    "react/prop-types": "off",
    "react/require-default-props": "off",
    "import/prefer-default-export": "off",
    "no-alert": "off"
  },
  "env": {
    "cypress/globals": true,
    "jest/globals": true
  }
}
